*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}

body,
html {
  vertical-align: baseline;
  min-width: $min-width;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: $rem;
  text-size-adjust: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: $cl-white;
  font-weight: 400;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;

  @media (max-width: $sm) {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  font-size: 1em;
  font-family: monospace;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: 700;
}

code,
kbd,
samp {
  font-size: 1em;
  font-family: monospace;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  line-height: 1.15;
}

button,
select {
  text-transform: none;
}

// Фиксы для iOS и Safari
button,
[type = "button"],
[type = "reset"],
[type = "submit"] {
  appearance: button;
}

[type = "search"] {
  outline-offset: -2px;
  appearance: textfield;
}

[type = "search"]::-webkit-search-decoration {
  appearance: none;
}

::-webkit-file-upload-button {
  appearance: button;
  font: inherit;
}

// Фиксы для Firefox
button::-moz-focus-inner,
[type = "button"]::-moz-focus-inner,
[type = "reset"]::-moz-focus-inner,
[type = "submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type = "button"]:-moz-focusring,
[type = "reset"]:-moz-focusring,
[type = "submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

details {
  display: block;
}

summary {
  display: list-item;
}

progress {
  vertical-align: baseline;
}

[type = "number"]::-webkit-inner-spin-button,
[type = "number"]::-webkit-outer-spin-button {
  height: auto;
}

legend {
  padding: 0;
}

label {
  cursor: pointer;
}

input[type = "text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type = "text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type = "search"]::-webkit-search-decoration,
input[type = "search"]::-webkit-search-cancel-button,
input[type = "search"]::-webkit-search-results-button,
input[type = "search"]::-webkit-search-results-decoration {
  display: none;
}

textarea {
  display: block;
  overflow: hidden;
  resize: none;
}

button:not(:disabled),
a {
  cursor: pointer;
}