mixin popup(data={})
  .popup.js-popup(
    id=data.id,
    class=data.className,
    class=(data.theme ? `popup--theme--${data.theme}` : null),
    class=(data.size ? `popup--size--${data.size}` : null),
    data-role=data.role,
  )
    +btn-icon({
      className: "popup__close js-close-popup",
      icon: "close",
      title: "Закрыть"
    })
    .popup__header
      .popup__title!=data.title
      if (data.subtitle)
        .popup__subtitle!=data.subtitle
    block