.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: calc(100% - var(--container-padding) * 2);
  max-width: 440px;
  max-height: calc((var(--vh) * 100));
  overflow: auto;
  padding: 48px;
  background-color: $cl-white;
  border-radius: 32px;
  z-index: 200;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s, transform $bezier 0.5s;

  &._show {
    pointer-events: all;
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  @media (max-width: $sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 40px 16px;
    border-radius: 0;
  }

  &__close {
    position: absolute;
    z-index: 3;
    top: 24px;
    right: 24px;

    @media (max-width: $sm) {
      top: 16px;
      right: 16px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    text-align: center;
    margin-bottom: 16px;

    @media (max-width: $sm) {
      gap: 8px;
    }
  }

  &__title {
    color: $cl-title;
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;

    @media (max-width: $sm) {
      font-size: 20px;
      line-height: 28px
    } 
  }
}