.btn-slider {
  --bg: #{$cl-light-green};
  --bg-hover: #{$cl-primary};
  --color: #{$cl-primary-dark};
  --color-hover: #{$cl-white};

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  color: var(--color);
  background-color: var(--bg);
  border: 0;
  border-radius: 50%;
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: var(--color-hover);
    background-color: var(--bg-hover);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}