mixin btn-slider(data={})
  button.btn-slider(
    class=data.className,
    class=(data.theme ? `btn-slider--theme--${data.theme}` : null),
    class=(data.size ? `btn-slider--size--${data.size}` : null),
    data-role=data.role,
    type="button"
    title=((data.role === "prev") ? "Предыдущий слайд" : "Следующий слайд")
  )
    -var icon = (data.role === "prev") ? "chevron-left" : "chevron-right"
    +icon(icon, 20, 20)