mixin accordion-array(data={})
  .flex-col.js-accordion-array(
    class=data.className,
    class=(data.theme ? `accordion-array--theme--${data.theme}` : null),
    class=(data.size ? `accordion-array--size--${data.size}` : null),
    data-role=data.role,
    data-single=(data.single)
  )
    block