mixin accordion-item(data={})
  .accordion-item(
    class=data.className,
    class=(data.theme ? `accordion-item--theme--${data.theme}` : null),
    class=(data.size ? `accordion-item--size--${data.size}` : null),
    class=(data.open ? "_show" : null)
    data-role="item",
  )
    button.accordion-item__button(type="button")
      span.accordion-item__title!=data.title
      span.accordion-item__salary!=data.salary
      +icon("chevron-down", 24, 24, "accordion-item__icon")
    .accordion-item__content(data-role="content")
      .accordion-item__content-inner.content
        block