.accordion-item {
  background-color: $cl-light-green;
  border-radius: var(--border-radius);

  &__button {
    font-family: inherit;
    position: relative;
    text-align: left;
    width: 100%;
    padding: 32px 40px;
    padding-right: 104px;
    color: #000;
    border: 0;
    background-color: transparent;
    transition: color 0.3s;

    @media (max-width: $sm) {
      padding: 16px;
      padding-right: 48px;
    }

    &:hover {
      color: $cl-primary;
    }

    &:active:not(:disabled) {
      opacity: 0.8;
      transform: none;
    }
  }

  &__title {
    color: $cl-title;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;

    @media (max-width: $sm) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &:hover &__title {
    color: inherit;
  }

  &__icon {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    transition: transform $bezier 0.5s;

    @media (max-width: $sm) {
      right: 16px;
      width: 20px;
      height: 20px;
    }
  }

  &._show &__icon {
    transform: translateY(-50%) rotateX(180deg);
  }

  &__content {
    overflow: hidden;
    height: 0;
    transition: height ease 0.5s;
  }

  &._show &__content {
    height: var(--height);
  }

  &__content-inner {
    padding: 0 39px 39px;

    @media (max-width: $lg) {
      padding: 0 23px 23px;
    }

    @media (max-width: $sm) {
      padding: 16px 15px 15px;
    }
  }
}