mixin slider-pagination(data={})
  .slider-pagination(
    class=data.className,
    class=(data.theme ? `slider-pagination--theme--${data.theme}` : null),
    class=(data.size ? `slider-pagination--size--${data.size}` : null),
    data-role="pagination",
  )
  