.slider-pagination {
  --bg: #{$cl-light-green};
  --active: #{$cl-primary};

  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--bg);
    transition: background-color 0.3s;

    &--active {
      background-color: var(--active);
    }
  }
}