mixin btn-link-div(data={})
  if (data.type === "div")
    div(
      class=data.className,
      data-role=data.role,
    )
      block
  else if (data.href)
    a(
      class=data.className,
      href=data.href
      target=(data.blank ? "_blank" : null)
      rel=(data.blank ? "noopener noreferrer" : null),
      data-role=data.role,
    )
      block
  else 
    button(
      class=data.className,
      type=(data.type || "button"),
      data-role=data.role,
    )
      block