$_breakpoints: (
  'xs': $xs,
  'sm': $sm,
  'md': $md,
  'lg': $lg,
  'xl': $xl
);

$_displays: (
  'none': none,
  'flex': flex,
  'block': block,
  'inline': inline,
  'inline-block': inline-block
);

@each $display-name, $display-value in $_displays {
  .d-#{$display-name} {
    display: $display-value;
  }

  @each $breakpoint-name, $breakpoint-value in $_breakpoints {
    .d-#{$breakpoint-name}-#{$display-name} {
      @media (max-width: #{$breakpoint-value}) {
        display: $display-value;
      }
    }
  }
}
