[class*="flex-"] {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-center-x {
  align-items: center;
}

.flex-center-y {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-col-rev {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-rev {
  flex-direction: row-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-rev {
  flex-wrap: wrap-reverse;
}

.shrink-0 {
  flex-shrink: 0;
}

.grow-1 {
  flex-grow: 1;
}