$_breakpoints: (
  // 'xs': $xs,
  'sm': $sm,
  // 'md': $md,
  // 'lg': $lg,
  // 'xl': $xl
);

@for $i from 1 through 5 {
  .gap-#{$i} {
    gap: #{$i}rem;
  }
  .gap-y-#{$i} {
    row-gap: #{$i}rem;
  }
  .gap-x-#{$i} {
    column-gap: #{$i}rem;
  }

  @each $breakpoint, $value in $_breakpoints {
    @media (max-width: #{$value}) {
      .gap-#{$breakpoint}-#{$i} {
        gap: #{$i}rem;
      }
      .gap-y-#{$breakpoint}-#{$i} {
        row-gap: #{$i}rem;
      }
      .gap-x-#{$breakpoint}-#{$i} {
        column-gap: #{$i}rem;
      }
    }
  }
}
