$_breakpoints: (
  // 'xs': $xs,
  'sm': $sm,
  // 'md': $md,
  // 'lg': $lg,
  // 'xl': $xl
);

$margins: (
  'mb': margin-bottom,
  'mt': margin-top
);

@each $margin, $property in $margins {
  @for $i from 1 through 14 {
    .#{$margin}-#{$i} {
      #{$property}: #{$i}rem;
    }

    @each $breakpoint, $value in $_breakpoints {
      @media (max-width: #{$value}) {
        .#{$margin}-#{$breakpoint}-#{$i} {
          #{$property}: #{$i}rem;
        }
      }
    }
  }
}
