mixin overlay(data={})
  .overlay(
    class=data.className,
    class=(data.theme ? `overlay--theme--${data.theme}` : null),
    class=(data.size ? `overlay--size--${data.size}` : null),
    data-role=data.role,
  )
  