.overlay {
  position: fixed;
  z-index: 199;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(#2F2E2E, 70%);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  
  &--header {
    z-index: 99;

    body._search-open & {
      @media (min-width: ($lg + 1px)) {
        opacity: 1;
        pointer-events: all;
      }
    }

    body._menu-open & {
      @media (max-width: $lg) {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &--popup {
    body._popup-open & {
      opacity: 1;
      pointer-events: all;
    }
  }
}