include ../../widgets/index
include ../../features/index
include ../../shared/index

block vars

doctype html
html(lang="ru")
  head
    //- Заголовок страницы
    title=title

    //- Мета-данные
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name='format-detection' content='telephone=no')

    block meta

    //- Предзагрузки
    //- link(rel='preload' href='assets/fonts/Montserrat-Regular.woff2' as='font' type='font/woff2')

    //- Стили
    link(rel="stylesheet", href="assets/css/main.min.css")
    block styles

    //- Фавиконки
    //- link(rel='icon' type='image/png' href='favicon-96x96.png' sizes='96x96')
    //- link(rel='icon' type='image/svg+xml' href='favicon.svg')
    //- link(rel='shortcut icon' href='favicon.ico')
    //- link(rel='apple-touch-icon' sizes='180x180' href='apple-touch-icon.png')
    //- link(rel='manifest' href='site.webmanifest')
    
  body
    .page
      //- Шапка
      +page-header

      //- Основное содержимое
      main.page__main
        block body
      
      //- Футер
      +page-footer
      
      //- Модальные окна
      block modals

    //- Скрипты 
    script(src="assets/js/main.min.js") 
    block scripts