.popup--theme--review {
  max-width: 750px;

  .popup__header {
    margin-bottom: 12px;
    text-align: left;

    @media (max-width: $sm) {
      margin-bottom: 8px;
    }
  }

  .popup__title {
    font-size: 32px;
    line-height: 40px;
  }

  @media (max-width: $sm) {
    
  }

  .popup-content {
    & > * {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    p,
    ul {
      margin: 16px 0;
    }

    figure {
      margin: 24px 0;
    }
  }
}