mixin _button-inner(data)
  if (data.icon)
    if (data.icon.reverse)
      +icon(data.icon.name, data.icon.width, data.icon.height)
      span!=data.text
    else
      span!=data.text
      +icon(data.icon.name, data.icon.width, data.icon.height)
  else 
    span!=data.text

mixin btn(data={})
  if (data.href)
    a.btn(
      href=data.href
      class=data.className
      class=(data.theme ? data.theme.split(" ").map(str => `btn--theme--${str}`).join(" ") : null)
      class=(data.size ? data.size.split(" ").map(str => `btn--size--${str}`).join(" ") : null)
      target=(data.blank ? "_blank" : null)
      rel=(data.blank ? "noopener noreferrer" : null)
    )&attributes(data.attributes)
      +_button-inner(data)
      
  else
    button.btn(
      type=(data.type || "button")
      class=data.className
      class=(data.theme ? data.theme.split(" ").map(str => `btn--theme--${str}`).join(" ") : null)
      class=(data.size ? data.size.split(" ").map(str => `btn--size--${str}`).join(" ") : null)
      disabled=data.disabled,
      role=data.role,
      class=(data.popup ? "js-show-popup" : null)
      data-id=data.popup,
      data-metka=data.metka,
      data-target=data.target,
      data-button=data.button,
      data-title=data.title,
      data-desc=data.desc
    )&attributes(data.attributes)
      +_button-inner(data)

