.radio-button {
  padding: 12px 16px;
  background-color: $cl-white;
  border-radius: 16px;
  color: $cl-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transition: color 0.3s, box-shadow 0.3s;
  user-select: none;

  &:hover {
    color: $cl-primary;
  }

  :checked ~ & {
    color: $cl-primary;
    box-shadow: inset 0 0 0 1px $cl-primary;
  }

  &:active {
    transform: scale(0.98);
  }
}