mixin radio-button(data={})
  label(
    class=data.className,
    class=(data.theme ? `radio-button--theme--${data.theme}` : null),
    class=(data.size ? `radio-button--size--${data.size}` : null),
    data-role=data.role,
  )
    input.visually-hidden(
      type="radio",
      name=data.name,
      value=data.value,
      checked=data.checked
    )
    .radio-button!=data.label