mixin field-range(data={})
  .field-range.js-field-range(
    class=data.className,
    class=(data.theme ? `field-range--theme--${data.theme}` : null),
    class=(data.size ? `field-range--size--${data.size}` : null),
    data-role=data.role,
    data-unit=data.unit,
    data-unit-space=data.unitSpace,
    data-min=data.min,
    data-max=data.max,
    data-step=data.step,
    data-value=data.value
  )
    label.field-range__label
      .field-range__title!=data.label
      .field-range__row
        if (data.prefix)
          .field-range__prefix!=data.prefix
        input.field-range__input(
          type="text",
          name=data.name,
          inputmode="numeric"
        )
        if (data.unit)
          .field-range__unit(data-role="unit")
    input.field-range__scale(
      type="range",
      name=(`${data.name}-range`),
      min=data.min 
      max=data.max
      step=data.step
    )
    .field-range__bottom 
      span!=data.labelMin
      span!=data.labelMax