@mixin _thumb-styles {
  height: 18px;
  width: 32px;
  border: 1px solid $cl-primary;
  border-radius: 100px;
  background: $cl-white;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  margin-top: -9px;
  transition: transform 0.3s, background-color 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    background-color: $cl-primary;
  }
}

.field-range {
  position: relative;
  padding-bottom: 28px;

  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px 24px;
    border-radius: 16px;
    background-color: $cl-white;
    transition: all 0.3s;
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__prefix {
    color: #D6D6D6;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    padding-right: 4px;
  }

  &__input {
    width: auto;
    flex-shrink: 1;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    background-color: transparent;
    border: 0;
    outline: none;
  }

  &__unit {
    flex-grow: 1;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
  }

  &__scale {
    position: absolute;
    z-index: 2;
    left: 10px;
    bottom: 28px;
    display: block;
    width: calc(100% - 20px);
    height: 2px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 100px;
    transform: translateY(50%);
    background: #EAF2EF;
    background-image: linear-gradient($cl-primary, $cl-primary);
    background-size: 10% 100%;  
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      background: transparent;
      border-radius: 100px;
      border: 0;
    }

    &::-moz-range-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      background: transparent;
      border-radius: 100px;
      border: 0;
    }

    &::-ms-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      background: #EAF2EF;
      border-radius: 100px;
      border: 0;
    }

    &::-webkit-slider-thumb {
      @include _thumb-styles;
    }

    &::-moz-range-thumb {
      @include _thumb-styles;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    color: #AAA8A8;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }
}