.tabs {
  position: relative;
  margin: -16px;
  padding: 16px;
}

.tab-content {
  position: absolute;
  top: 16px;
  left: 16px;
  width: calc(100% - 32px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;

  &._active {
    position: static;
    opacity: 1;
    pointer-events: all;
    width: 100%;
  }
}