mixin tabs(data={})
  .tabs.js-tabs(
    class=data.className data-id=data.id
    class=((data.swiper !== false) ? "swiper" : null)
  )
    if (data.swiper !== false)
      .swiper-wrapper
        block
    else
      block