// Упрощает написание медиа-запросов с предустановленными точками или кастомными значениями.

// Примеры
// @include breakpoint(md) {
//   width: 50%;
// }

// @include breakpoint(400px, down) {
//   width: 80%;
// }

$mixin-breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
);

@mixin breakpoint($point, $direction: up) {
  @if map-has-key($mixin-breakpoints, $point) {
    $value: map-get($mixin-breakpoints, $point);
    @if $direction == up {
      @media (min-width: $value) { @content; }
    } @else if $direction == down {
      @media (max-width: ($value - 1)) { @content; }
    }
  } @else {
    @if $direction == up {
      @media (min-width: $point) { @content; }
    } @else if $direction == down {
      @media (max-width: ($point - 1)) { @content; }
    }
  }
}