@mixin transitions($args...) {
  $result: ();
  @if length($args) == 0 {
    @error "Миксин transitions требует хотя бы одно свойство";
  }

  @if type-of(nth($args, 1)) != list {
    $properties: nth($args, 1);
    $duration: if(length($args) > 1, nth($args, 2), 0.3s);
    $timing: if(length($args) > 2, nth($args, 3), ease);
    $delay: if(length($args) > 3, nth($args, 4), 0s);
    @each $property in $properties {
      $result: #{$result}, #{$property} #{$duration} #{$timing} #{$delay};
    }
  } @else {
    @each $transition in $args {
      $properties: nth($transition, 1);
      $duration: if(length($transition) > 1, nth($transition, 2), 0.3s);
      $timing: if(length($transition) > 2, nth($transition, 3), ease);
      $delay: if(length($transition) > 3, nth($transition, 4), 0s);
      @each $property in $properties {
        $result: #{$result}, #{$property} #{$duration} #{$timing} #{$delay};
      }
    }
  }

  transition: #{trim($result)};
}

// Примеры использования
// 1. Одно свойство
// @include transitions(opacity, 0.5s);

// 2. Несколько свойств с общим таймингом
// @include transitions(opacity transform, 0.5s, ease, 0.1s);

// 3. Комбинация с несколькими свойствами
// @include transitions(
//   (opacity, 0.3s),
//   (transform color, 0.5s, ease-out, 0.1s),
//   (background-color, 0.2s, linear)
// );

