mixin _img(data, x2Srcset)
  img(
    class=data.className,
    src=`@img/${data.src}`,
    srcset=x2Srcset,
    alt=(data.alt ? data.alt.replace(/&nbsp;/g, " ") : ""),
    width=data.width,
    height=data.height,
    loading=(data.lazy ? "lazy" : null)
  )

mixin img(data={})
  //- Вычисляем srcset для мобильного устройства
  - 
    var mobileSrcset = data.mobile === 1 
      ? `@img/${data.src.replace(/(\.[a-z]+)$/, '_mobile$1')}, @img/${data.src} 2x`
      : `@img/${data.src.replace(/(\.[a-z]+)$/, '_mobile$1')}, @img/${data.src.replace(/(\.[a-z]+)$/, '_mobile@2x$1')} 2x`
  
  //- Вычисляем srcset для x2
  - var x2Srcset = data.x2 ? `@img/${data.src.replace(/(\.[a-z]+)$/, '@2x$1')} 2x` : null

  if (data.mobile)
    picture
      source(
        media="(max-width: 576px)", 
        srcset=mobileSrcset
      )
      +_img(data)
  else
    +_img(data, x2Srcset)
