.content {
  p,
  ul {
    margin: 16px 0;
  }

  h2,
  .h2 {
    @media (max-width: $sm) {

    }
  }

  h3,
  .h3 {
    @media (max-width: $sm) {
      
    }
  }

  h4,
  .h4 {
    @media (max-width: $sm) {
      
    }
  }

  h5,
  .h5 {
    @media (max-width: $sm) {
      
    }
  }

  figure {
    margin: 48px 0;
    overflow: hidden;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      border-radius: var(--border-radius);
    }
  }
}