mixin social-link(data={})
  a.social-link(
    class=data.className,
    class=(data.theme ? `social-link--theme--${data.theme}` : null),
    class=(data.size ? `social-link--size--${data.size}` : null),
    data-role=data.role,
    href=(data.href || "404.html")
    title=data.title
  )
    +icon(data.icon, 16, 16)