.social-link {
  --bg: #F6F6F6;
  --bg-hover: #{darken(#F6F6F6, 10%)};
  --color: #{$cl-title};
  --size: 32px;
  --radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  color: var(--color);
  background-color: var(--bg);
  border-radius: var(--radius);
  transition: color 0.3s, background-color 0.3s;

  &[href]:hover {
    color: var(--color);
    background-color: var(--bg-hover);
  }
}