.social-link--theme--dark-square {
  --color: #{$cl-white};
  --bg: #{rgba($cl-white, 15%)};
  --bg-hover: #{rgba($cl-white, 25%)};
  --size: 48px;
  --radius: 16px;

  @media (max-width: $sm) {
    --size: 40px;
    --radius: 8px;
  }

  svg {
    width: 20px;
    height: 20px;

    @media (max-width: $sm) {
      width: 16px;
      height: 16px;
    }
  }
}