.social-link--theme--telegram,
.social-link--theme--telegram-square {
  --color: #3B90CE;
  --bg: #E7F3FC;
  --bg-hover: #{darken(#E7F3FC, 10%)};
}

.social-link--theme--telegram-square {
  --radius: 8px;
  --size: 40px;
}