.social-link--theme--whatsapp,
.social-link--theme--whatsapp-square {
  --color: #25D366;
  --bg: #DAF7E5;
  --bg-hover: #{darken(#DAF7E5, 10%)};
}

.social-link--theme--whatsapp-square {
  --radius: 8px;
  --size: 40px;
}